[submodule "3rd/UncleDon-Logger"]
	path = 3rd/UncleDon-Logger
	url = https://github.com/DYYYYYYYF/UncleDon-Logger
[submodule "3rd/stb"]
	path = 3rd/stb
	url = git@github.com:nothings/stb.git
[submodule "3rd/openal-soft"]
	path = 3rd/openal-soft
	url = https://github.com/kcat/openal-soft.git
[submodule "3rd/sndfile-audio-loader"]
	path = 3rd/sndfile-audio-loader
	url = https://github.com/libsndfile/libsndfile.git
[submodule "3rd/rapidjson"]
	path = 3rd/rapidjson
	url = https://github.com/Tencent/rapidjson.git
